.node {
    padding: 4px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: "name name"
        "in out";
    gap: 20px;
}

.node h1 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}

.out {
    justify-self: end;
}

.name {
    grid-area: name;
}
